/* RPS css */
body {
    background-color: #0D1B2A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

header h1 {
    text-align: center;
    color: #E0E1DD;
    font-size: 50px;
}

.gamecontainer {
    margin: auto;
    height: 420px;
    width: 420px;
    background-color: #415A77;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    margin-bottom: 20px;

}

.gamecontainer img {
    width: 100%;

}

.gamecontainer .upper {
    padding-top: 50px;
    color: #E0E1DD;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    flex: 1;

}

.gamecontainer .lower {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    color: #E0E1DD;
    font-size: 50px;
    height: 100px;


}

.roundWinner {
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}



.btnscontainer {
    margin: auto;
    background-color: #415A77;
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;

}


.btn {
    margin: 10px;
    padding: 10px;
    background-color: #778DA9;
    border-radius: 25px;
    border: none;

}

.btn:hover {
    background-color: #E0E1DD;
    transform: scale(1.15);

}

.btn img {
    width: 100%;

}


/* Modal box css */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 150px;
    position: absolute;
    z-index: 2;
    background-color: #415A77;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    gap: 30px;
    margin: auto;
}

.btn-close {
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: #E0E1DD;
    font-size: 20px;
    font-weight: bold;
}

.btn-close:hover {
    transform: scale(1.15);
}

.modalText {
    color: #E0E1DD;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 1;
}

.hidden {
    display: none;
}